

img {
    width: 40%;
    position: absolute;
    width: 800px;
    left: 30%;
    top: 50%;
    transform: translate(-30%, -50%);
}



p.video-title {
    position: absolute;
    top: 32%;
    left: 55%;
    font-size: 35px;
}

p.video-statistics {
    position: absolute;
    top: 40%;
    left: 56%;
    font-size: 32px;;
}

p.video-description {
    position: absolute;
    top: 48%;
    width: 20%;
    left: 55%;
}

.first-video {
    border: 4px solid black;
}